.container{
    margin: 50px auto;
    width: 500px;
    border: 2px solid gray;
    padding: 10px;
    box-shadow: 10px 10px 10px;
}
.heading{
    text-align: center;
}
.profile-image{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
}
#details{
    text-align: center;
}
h3{
    margin: 10px;
}
ol, ul{
    margin: 10px;  
}
.table-container{
    margin: 10px 20px;
}
 td{
    padding: 1px 20px;
 }
td, th{
    text-align: center;
}
table{
    border: 2px solid black;
}
tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
label{
    margin: 0 0 0 15px;
}
#message-box{
    margin-left: 15px;
}
#submit{
    margin-left: 15px;
}
footer{
    text-align: center;
}
.footer-text{
    margin: 5px;
}
